$breakpoints:('sm':425px ,'md-5':500px, 'md-6':600px, 'md':768px ,'lg':1024px);

//colors:
$first-color: #58b820;
$second-color: #ffc036;
$black:rgba(56, 56, 56, 0.863);

// hovers
$first-color-h:#48971b;
$second-color-h:#e9af33;

// border
$border-1px: 1px solid #e0e0e0;
$border-5px: 5px solid #e0e0e0;